@charset "uf8";
#abc {
            text-align: center;
            font: size 20px;
            color: aqua;
}
.mnk{
    
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
p{
    font-size: 70px;
    color: blue;
}